.settings__setting {
  padding: 20px 0;
  margin-bottom: var(--main-border);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 10px;
  font-size: 22px;
}
.settings__setting-column:last-child {
  color: var(--gray-color);
}
