.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
}

.badge-dot {
  margin: 0px;
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
