.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 10px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2f363e;
}
.nav__notification {
  position: absolute;
  right: -10px;
  bottom: 15px;
}

.nav__notifications {
  position: absolute;
  top: -7px;
  right: -4px;
}
